@page
@model Torneo.App.Frontend.Pages.Posiciones.IndexModel
@{
}
<a class="btn btn-primary" asp-page="./Create">Crear posiciones</a> 
<h1>Listado de posiciones</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var pos in Model.posiciones)
        {
            <tr>
                <th scope="row">@pos.Id</th>
                <td>@pos.Nombre</td>
                <td>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@pos.Id">
                        Editar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>