@page
@model Torneo.App.Frontend.Pages.Posiciones.IndexModel
@{
}

<h1>Listado de posiciones</h1>
<a class="btn btn-primary btn-lg" asp-page="./Create">Crear posiciones</a> 
<table class="table" border="2">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var pos in Model.posiciones)
        {
            <tr>
                <th scope="row">@pos.Id</th>
                <td>@pos.Nombre</td>
                <td>
                    <a class="btn btn-success" asp-page="./Details" asp-route-id="@pos.Id">
                        Detalle
                    </a>
                    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@pos.Id">
                        Editar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>