@page
@model Torneo.App.Frontend.Pages.DTs.IndexModel
@{
}

<h1>Listado de directores técnicos</h1>
<a class="btn btn-primary btn-lg" asp-page="./Create">Crear D.T.</a>
<table class="table" border="2">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acción</th>
        </tr>
        </td>
    </thead>
    <tbody>
        @foreach (var dt in Model.dts)
        {
            <tr>
                <th scope="row">@dt.Id</th>
                <td>@dt.Nombre</td>
                <td>
                    <a class="btn btn-success" asp-page="./Details" asp-route-id="@dt.Id">
                        Detalle
                    </a>
                    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@dt.Id">
                        Editar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>