@page
@model Torneo.App.Frontend.Pages.Municipios.IndexModel
@{
}

<h1>Listado de municipios</h1>
<a class="btn btn-primary btn-lg" asp-page="./Create">Crear municipio</a>
<table class="table table-success table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var municipio in Model.municipios)
        {
            <tr>
                <th>@municipio.Id</th>
                <td><b>@municipio.Nombre</b></td>
                <td>
                    <a class="btn btn-success" asp-page="./Details" asp-route-id="@municipio.Id">
                        Detalle
                    </a>
                    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@municipio.Id">
                        Editar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
